/* src/app/menu/menu.component.css */
.container {
    margin-top: 20px;
  }
  
  .card {
    border-radius: 1rem;
  }
  
  .card-img-top {
    border-radius: 1rem 1rem 0 0;
    height: 250px;
  }
  
  .nav-tabs .nav-link.active {
    background-color: #007bff;
    color: white;
  }
  
  .tab-content {
    margin-top: 20px;
  }
  .blurry-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/officeBackground.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* Adjust blur amount as needed */
    z-index: 0;
  }
 
  .container {
    margin-top: 20px;
    background-color: #f0f4f2b7;; /* White */
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
  }

  .container ul{
    background-color: #f0f4f0d3;; /* White */
    border-radius: 1rem;

  }

  .nav-tabs .nav-link.active {
    background-color: #37c41473;
    color: black;

}

.nav-tabs button {
        color: green !important;
        background-color: white; /* Default background color */
        border: none; /* Remove border */
}
.dropdown-container {
    position: relative;
    width: 200px;
  }
  
  .dropdown-toggle {
    width: 100%;
    padding: 10px;
    background-color: #37c41473;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .dropdown-toggle:focus {
    outline: none;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-item input {
    margin-right: 10px;
  }
  
  .addButton{
    background-color: #1d7046b7;
    width: 150px;
    border: azure;
  }
  h5{
    font-weight: bold;
    font-size: 20px;
}