<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logo.png" alt="Logo" height="30">
      </a>
  
      <!-- Toggle button for mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item px-2">
            <a class="nav-link active fw-bold" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link active fw-bold" aria-current="page" href="grand-menu">Menu grand public</a>
          </li>
          <li class="nav-item px-2" >
            <a class="nav-link active fw-bold" aria-current="page" href="menu">Menu Collectif</a>
          </li>
        </ul>
        
        <!-- User information -->
        <div class="navbar-text fw-bold">
          <span class="me-2">Welcome, Username</span>
          <a href="#" class="me-2"><i class="bi bi-person"></i></a> <!-- Replace with user icon -->
          <a href="#" class="btn btn-outline-danger btn-sm">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  